@import "antd/dist/antd.css";
* {
  background: rgb(5, 5, 5);
  color: #fff;
}

.search {
  width: 100% !important;
  background: #fff !important;
  border-radius: 5px;
  padding: 8px;
}
.inpt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  margin: 0 auto;
  flex-flow: row;
  position: relative;
}
.fa-search {
  right: 5%;
  position: absolute;
  top: 30%;
  font-size: 130%;
  color: black;
  background: #fff;
}
.ant-card {
  margin: 20px 0px;
  transition: 0.5s;
}
.ant-card:hover {
  box-shadow: 5px 10px 5px #ffffff52;
  margin: -5px 0px;
}
.col-sm-6 .ant-card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
